<header class="site-header">
  <a href="{{ site.baseurl }}/">
    <img class="blog-cover" src="{{ site.cover }}">
  </a>
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav menu-bar">
          {% assign pages = site.pages | sort:"index" %}
          {% for my_page in pages %}
            {% if my_page.navigation_title %}
              {% if my_page.url == page.url %}
                <li class="menu-bar-item active"><a class="page-link active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.navigation_title }}</a></li>
              {% else %}
                <li class="menu-bar-item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.navigation_title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
</header>
