<header class="site-header">
  <a href="{{ site.baseurl }}/">
    <img class="blog-cover" src="{{ site.cover }}">
  </a>
  <nav class="navbar navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Navigation</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav menu-bar">
          {% assign pages = site.pages | sort:"index" %}
          {% for my_page in pages %}
            {% if my_page.navigation_title %}
              {% if my_page.url == page.url %}
                <li class="menu-bar-item active"><a class="page-link active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.navigation_title }}</a></li>
              {% else %}
                <li class="menu-bar-item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.navigation_title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
</header>
